illumio/content/topic.dtd

<!ELEMENT topic (title, body)>
<!ATTLIST topic id ID #REQUIRED>

<!ELEMENT title (#PCDATA)>

<!ELEMENT body (p | section | foreign)*>

<!ELEMENT section (title | p | foreign)*>
<!ATTLIST section id ID #IMPLIED>

<!ELEMENT p (#PCDATA)>

<!ELEMENT foreign (#PCDATA)>
<!ATTLIST foreign outputclass CDATA #IMPLIED>