illum/content/topic.dtd

<!ELEMENT topic (title, shortdesc?, body)>
<!ATTLIST topic id ID #REQUIRED>

<!ELEMENT title (#PCDATA)>

<!ELEMENT shortdesc (#PCDATA)>

<!ELEMENT body (p | section | foreign)*>

<!ELEMENT section (title | p | foreign | object | ol | codeblock)*>
<!ATTLIST section id ID #IMPLIED>

<!ELEMENT p (#PCDATA | strong | em)*>

<!ELEMENT foreign (#PCDATA)>
<!ATTLIST foreign outputclass CDATA #IMPLIED>

<!ELEMENT object (desc?)>
<!ATTLIST object data CDATA #REQUIRED>
<!ATTLIST object outputclass CDATA #IMPLIED>

<!ELEMENT desc (#PCDATA)>

<!ELEMENT strong (#PCDATA)>

<!ELEMENT em (#PCDATA)>

<!ELEMENT ol (li+)>

<!ELEMENT li (#PCDATA | strong | em)*>

<!ELEMENT codeblock (#PCDATA)>
<!ATTLIST codeblock outputclass CDATA #IMPLIED>